.main_gallery {
  width: 100vw;
  min-height: 750px;
  margin-bottom: 50px;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_gallery .gallery_images {
  width: calc(100vw - 200px);
  padding: 25px 0;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  display: flex;
  gap: 35px;
  row-gap: 50px;
  flex-wrap: wrap;
  overflow: hidden;
}

.main_gallery img {
  width: fit-content;
  height: fit-content;
  width: calc(25% - 27px);
  position: relative;
  object-fit: contain;
  border-radius: 15px;
}

@media only screen and (max-width: 1350px) {
  .main_gallery .gallery_images {
    width: 100vw;
    padding: 0 25px;
  }

  .main_gallery .gallery_images img {
    width: calc(33% - 27px);
  }
}

@media only screen and (max-width: 1200px) {
  .main_gallery .gallery_images {
    width: 970px;
    padding: 0;
  }

  .main_gallery .gallery_images img {
    width: calc(50% - 27px);
  }
}

@media only screen and (max-width: 990px) {
  .main_gallery .gallery_images {
    width: 693px;
    padding: 0;
  }
}

@media only screen and (max-width: 753px) {
  .main_gallery .gallery_images {
    width: 532px;
    padding: 0;
    row-gap: 25px;
    align-items: center;
    justify-content: center;
  }

  .main_gallery .gallery_images img {
    width: 532px;
  }
}

@media only screen and (max-width: 553px) {
  .main_gallery .gallery_images {
    width: 100vw;
    padding: 0 12px;
  }

  .main_gallery .gallery_images img {
    width: calc(100vw - 25px);
  }
}
