.home {
  width: 100%;
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.home .hero {
  width: 1250px;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.home .hero .content {
  width: 50%;
  padding-right: 150px;
}

.home .hero .hero_image {
  width: 400px;
  height: 460px;
  background: linear-gradient(
    90deg,
    hsla(169, 41%, 64%, 1) 0%,
    hsla(250, 14%, 61%, 1) 100%
  );
  border-radius: 100px;
  transform: rotate(35deg) translateX(-50px);
  overflow: hidden;
}

.home .hero .hero_image img {
  width: 100%;
  position: absolute;
  inset: 50%;
  transform: rotate(-45deg) translate(25%, -50%);
}

.home .hero .contact {
  display: flex;
}

.home .hero h1 {
  font-size: 44px;
}
